@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700&display=swap&subset=cyrillic');

body {
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 200%;
  font-family: 'Helvetica', arial, sans-serif;
  text-align: center;
  background-color: #f8f7f5;
  overflow-x: hidden;
}

#root {
  max-width: 1500px;
  margin: 0 auto;
}

.input,
.date {
  border: grey;
  border-radius: 5px;
  width: 380px;
  height: 30px;
  background: rgb(218, 216, 216);
  font-size: 1.1em;
  letter-spacing: 0.2em;
  padding: 5px 10px;
}

.radios {
  margin: 20px 0;
}
.radios label {
  margin-right: 10px;
}

.button {
  width: 400px;
  height: 40px;
  border: 0;
  border-radius: 5px;
  text-transform: uppercase;
  margin: 10px;
  font-size: 1.1em;
  letter-spacing: 0.2em;
  overflow: hidden;
  box-shadow: 0 4px 12px 0 rgba(152, 160, 180, 10);
  /* background-image: linear-gradient(to right, #E040FB, #00BCD4); */
  background: rgb(206, 160, 240);
}

.button:active,
.button:hover {
  cursor: pointer;
}

/* articles */
.table {
  display: block;
  font-size: 115%;
}

th {
  background-color: rgb(112, 196, 105);
  color: white;
  font-weight: normal;
  padding: 20px 30px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

td {
  background-color: rgb(238, 238, 238);
  color: rgb(111, 111, 111);
  padding: 10px 20px;
  font-size: 0.7em;
}

/* header */

.navbar {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 0 30px;
  margin-bottom: 10px;
}

.navbar__items a {
  margin-right: 70px;
  text-decoration: none;
}

.navbar__items a {
  margin-right: 70px;
  text-decoration: none;
}

/* animation */

.fade-enter {
  transform: translateX(-100%);
  z-index: 1;
}

.fade-enter.fade-enter-active {
  transform: translateX(0);
  transition: all 0.1s ease;
}

.fade-exit {
  transform: translateX(0);
}
.fade-exit.fade-exit-active {
  transform: translateX(100%);
  transition: all 0.1s ease;
}

.active {
  color: red;
  border: 1px solid red;
  border-radius: 5px;
  padding: 2px 5px;
}

/* pagination */
.pagination {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 7px;
}

.input__page {
  border: grey;
  border-radius: 5px;
  width: 50px;
  height: 30px;
  background: rgb(218, 216, 216);
  font-size: 1.5em;
  letter-spacing: 0.2em;
  padding: 5px 10px;
  text-align: center;
}

.item select {
  border: grey;
  border-radius: 5px;
  width: 80px;
  height: 40px;
  background: rgb(218, 216, 216);
  font-size: 1.5em;
  letter-spacing: 0.2em;
  padding: 5px 10px;
  text-align: center;
}

.total {
  font-size: 1.5em;
  font-weight: bold;
}

/* details */
.title {
  text-decoration: underline;
  color: rgb(113, 91, 134);
  padding-bottom: 20px;
}

.button_details {
  cursor: pointer;
}

.search_content {
  font-size: 1.5em;
  line-height: ;
}
